<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{{photo.fileName}}</h4>
  </div>
  <div class="panel-body">
<img src="{{photo.scaledUrl}}" title="{{photo.fileName}}" width="600px" height="400px"/><br>
{{photo.caption}} ({{photo.fileName}}) - by {{photo.owner}}
  </div>
</div>
